<a href="https://colab.research.google.com/github/FuturesHope/my_jupyter_notebooks/blob/main/2_Python_101_Data_Types_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BOOLEANS

In [4]:
# Boolean values can be represented as one of two constant objects "False" and "True". 
# Booleans behave like integers 0 and 1.

**MINI CHALLENGE #1:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [5]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

# 2. LIST

In [6]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.

In [7]:
# Obtain the datatype

In [8]:
# list with mixed datatypes (for example you can have strings and integers in one list)

In [9]:
# You can have a list inside another list (nested list)
list2= ['GOOG', [3, 6, 7]]

In [10]:
## Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)
'GOOG'[2]

'O'

In [11]:
# indexing for nested lists

In [12]:
list2[-2]

'GOOG'

In [13]:
# Negative Indexing

In [14]:
# List Slicing (getting more than one element from a list) 

# obtain elements starting from index 3 up to and not including element with index 6

In [15]:
# Obtain elements starting from index 3 to end
['GOOG', 'SP500', 'AMZN', 15][-2:]

['AMZN', 15]

In [16]:
# All elements start to end

In [17]:
# Obtain the length of the list (how many elements in the list) 
x = [2, 5, 7, 'GOOG', 'SP500', 'AMZN', 15]
y = len(x)
y

7

**MINI CHALLENGE #2:**
- **Print the first, second and last element in the list below**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [18]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[-3:])

['SP500', 'BTC', 'EUR/USD']

**MINI CHALLENGE #3:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [19]:
print(stocks[0])

GOOG

In [20]:
print(f'{stocks[2]}, {stocks[0]}, {stocks[1]}')

AAPL, GOOG, TSLA

# 3. DICTIONARY

In [21]:
# my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
# Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys

# Define a dictionary using key-value pairs

In [22]:
# View the dictionary
dictionary_one = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
dictionary_one

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [23]:
# Check the data type
type(dictionary_one)

dict

In [24]:
# Access specific element in the dictionary using a specific key (ex: Key2)
# View the dictionary
dictionary_one = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
# dictionary_one
dictionary_one["key2"]

'value2'

In [25]:
# Define a dictionary for a bank client listing all his/her assets!

In [26]:
# Access elements in the dictionary
dict10 =  {'Real estate': 150000, 'stocks': 10000, 'savings': 20000}

In [27]:
# Add a new item to an existing dictionary
dict10["Crypto"] = 1500
dict10
# {'Real estate': 150000, 'stocks': 10000, 'savings': 20000}["Crypto"] = 1500

{'Crypto': 1500, 'Real estate': 150000, 'savings': 20000, 'stocks': 10000}

In [28]:
# remove an item from the dictionary
del(dict10["Crypto"])
dict10

{'Real estate': 150000, 'savings': 20000, 'stocks': 10000}

In [30]:
# delete the entire dictionary
# Note that you cannot print it out again because the entire dictionary has been deleted
del(dict10)
dict10

NameError: ignored

**MINI CHALLENGE #4:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [31]:
my_stock = {"A":10, "Z":11, "D":15}
my_stock

{'A': 10, 'D': 15, 'Z': 11}

# 4. STRINGS

In [32]:
# A string in Python is a sequence of characters
# String can be enclosed by either double or single quotes
stra = "Hello Everyone and Welcome to Python for finance course!"

In [33]:
# Obtain the datatype
type(stra)

str

In [34]:
# Combining two strings together (Let's combine the first and last name of a bank's client)

In [35]:
# You can combine both strings together and add spaces in between

In [36]:
# Methods on strings 
# upper will be used to convert the string into upper case

In [58]:
# Split us used to divide up the string into words 
# The output from split is a list
splitted = "HELLO EVERYONE AND WELCOME TO PYTHON FOR FINANCE COURSE!".split()
splitted

['HELLO',
 'EVERYONE',
 'AND',
 'WELCOME',
 'TO',
 'PYTHON',
 'FOR',
 'FINANCE',
 'COURSE!']

In [59]:
# Let's check that the datatype is list!
type(splitted)

list

In [39]:
# you can index any element in the list using indexing

In [76]:
# you can specify which letter could be choosed to perform the split
new_str = "HELLO EVERYONE AND WELCOME TO PYTHON FOR FINANCE COURSE!"
splitted_new = new_str.split("O")
splitted_new

['HELL',
 ' EVERY',
 'NE AND WELC',
 'ME T',
 ' PYTH',
 'N F',
 'R FINANCE C',
 'URSE!']

**MINI CHALLENGE #5:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [77]:
client_feedback = input(" Please provide your feedback: ")
split_feedback = client_feedback.split()
for w in split_feedback:
  print(w)

 Please provide your feedback: nice one pal
nice
one
pal

**MINI CHALLENGE #6:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [80]:
email = input("Plz provide your email: ")
first_name = email.split(".")
first_name[0]

Plz provide your email: Kisa.kisovna@kisa.com

'Kisa'

# 5. TUPLES

In [41]:
# A tuple is a sequence of immutable Python objects. 
# Tuples are sequences, just like lists. 
# The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [42]:
# Accessing elements in a tuple

In [81]:
# Tuple slicing

In [44]:
# Changing a vlue of a tuple does not work! 
# 'tuple' object does not support item assignment

In [45]:
# Create a New Tuple from existing Tuples

**MINI CHALLENGE #7:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [82]:
data = ("Lex", "whoknows", 77, 190456)
print(len(data))

4

In [83]:
type(data)

tuple

# 6. SETS

In [46]:
# A set is an unordered collection of items. Every element is unique (no duplicates).
# A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().
# set of integers

In [47]:
# set do not have duplicates

**MINI CHALLENGE #8:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [88]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
set_list = list(set(my_list))
set_list

['APPL', 'T', 'TSLA', 5, 6, 'AAPL', 'GOOG']

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [48]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

**MINI CHALLENGE #2 SOLUTION:**
- **Print the first, second and last element in the list**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [49]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

In [50]:
print(stocks[:])
print(stocks[0:3])
print(stocks[4:])

['GOOG', 'TSLA', 'AAPL', 'T', 'SP500', 'BTC', 'EUR/USD']
['GOOG', 'TSLA', 'AAPL']
['SP500', 'BTC', 'EUR/USD']

**MINI CHALLENGE #3 SOLUTION:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [51]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]

In [52]:
print(my_list[1][1])

GOOG

In [53]:
print(my_list[1])

['AAPL', 'GOOG', 'TSLA']

In [54]:
print(my_list[3])

T

In [55]:
print(my_list[-1])

T

**MINI CHALLENGE #4 SOLUTION:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [56]:
stocks = {"SP500": 3000, 
          "AAPL": 400,
          "TSLA": 2200}
print(stocks)

{'SP500': 3000, 'AAPL': 400, 'TSLA': 2200}

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [85]:
my_string = str(input("What did we do at the bank today? are you satisfied with the service"))
words = my_string.split(" ")
print("Here are the list of words you entered:", words)

What did we do at the bank today? are you satisfied with the servicepleased enough
Here are the list of words you entered: ['pleased', 'enough']

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [86]:
input_str = input("Welcome to the bank, please enter your e-mail address:")
out_str = input_str.split('@')
out_str = out_str[0].split('.')
print(out_str[0])

Welcome to the bank, please enter your e-mail address:Koko.gorilla@mombo.io
Koko

**MINI CHALLENGE #7 SOLUTION:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [ ]:
my_tuple = ("Ryan", "ahmed", 25, 10)
print(my_tuple)

In [ ]:
len(my_tuple)

In [ ]:
type(my_tuple)

**MINI CHALLENGE #8 SOLUTION:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [87]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6, 5]
out_list = list(set(my_list))
print(out_list)

['APPL', 'T', 'TSLA', 5, 6, 'AAPL', 'GOOG']