# 1. VARIABLES ASSIGNMENT

In [1]:
# Define a variable named "portfolio_1" and assign a number (integer) to it
portfolio_1 = 1

In [2]:
# Let's view "portfolio_1"
portfolio_1

1

In [3]:
# Define a variable named "portfolio_2" and assign a number (float) to it
portfolio_2 = 1.1

In [4]:
# Let's view "portfolio_2"
portfolio_2

1.1

In [5]:
# Let's overwrite "portfolio_2" (assume your portfolio value increased)
portfolio_2 = 1.2

In [6]:
# Notice that "portfolio_2" will only contain the most recent value
portfolio_2

1.2

In [7]:
# Get the type of "portfolio_1" which is integer
# integer is a whole number (no decimals) that could be positive or negative
type(portfolio_1)

int

In [8]:
# Get the type of "portfolio_2" which is float
# Float are real numbers with a decimal point dividing the integer and fractional parts
type(portfolio_2)

float

**MINI CHALLENGE #1:**
- **We defined a variable AMZN (Ticker symbol for Amazon stock) and we assigned these 3 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN
```

In [11]:
3530

3530

**MINI CHALLENGE #2:**
- **We defined a variable AAPL (Ticker symbol for Apple stock) and we assigned these 2 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AAPL = 112
AAPL = 115.3
type(AAPL)
```

In [12]:
float

float

# 2. MATH OPERATIONS

In [17]:
# Define a variable named AAPL and initialize it with 5 indicating that we own 5 stocks
# Let's assume that we bought an additional stock so now we have 6 stocks instead of 5 
# We can increment AAPL by 1 stock as follows:
AAPL = 5
AAPL += 1
AAPL

6

In [18]:
# Alternatively, we can increment the variable AAPL by 1 as follows:
AAPL = AAPL + 1

In [19]:
# Let's assume that the price of AAPL stock is $260 and we currently have 5 AAPL stocks in our portfolio
# We can calculate the total portfolio value (account balance) as follows:
account_balance = 260 * 5
account_balance

1300

In [22]:
# Let's assume you have $20000 USD in our account
# We want to buy AMZN stocks using the total amount 
# AMZN stock is priced at $3116 each
total_amount = 20000
AMZN_stock_to_buy = total_amount / 3116
AMZN_stock_to_buy

6.418485237483954

In [24]:
# Divide the account balance by Amazon stock price and place the answer in units
units = AMZN_stock_to_buy 
units

6.418485237483954

**MINI CHALLENGE #3:** 
- **Write a code that calculates the total value of a portfolio assuming that you own 15 Google stocks (Sticker Symbol: GOOG) priced at 1500 each**

In [25]:
GOOG_total_value = 15 * 1500
GOOG_total_value

22500

**MINI CHALLENGE #4:**
- **Write a code that takes in Google (GOOG) stock prices at two days and calculate the return:**
  - **GOOG price on day 1 = \$260** 
  - **GOOG price on day 2 = \$280**

# 3. ORDER OF OPERATIONS (PRECEDENCE)

In [ ]:
# add 3 and 4 and then multiply the answer by 5
# Note that parantheses have the highest precedence
3 + 4 * 5

In [ ]:
# Multiplication has higher precedence compared to addition

In [ ]:
# Division has higher precedence compared to addition

In [28]:
#calculate the difference of the GOOG stock price from investment date to nowaday
day_1_return = 260
now_return = 280
GOOG_return_now = now_return - day_1_return
GOOG_return_now
percentage_change = (now_return/day_1_return)*100 - 100
percentage_change

7.692307692307693

In [29]:
# variant 2
start_price = day_1_return
actual_price = now_return
actual_price_difference = actual_price - start_price
percent_change = (actual_price_difference / start_price) * 100
percent_change

7.6923076923076925

**MINI CHALLENGE #5:**
- **Assume that you own 15 shares of AAPL stock priced at \$150 a share. Apple announced the launch of 5 new products with exceptional features so the stock price increased to $170 a share. Calculate the total profit.**

In [30]:
AAPL_share_price_start = 150
AAPL_share_price_actual = 170
AAPL_share_num = 15
AAPL_price_difference = AAPL_share_price_actual - AAPL_share_price_start
AAPL_profit = AAPL_share_num * AAPL_price_difference
AAPL_profit

300

**MINI CHALLENGE #6:** 
- **Write a code that performs the following mathematical operation: z = |x − y| * (x + y)**

In [47]:
import math
x = 1
y = 5
z = abs(x-y)*(x+y)
z

24

# 4. PRINT OPERATION

In [34]:
# Print function is used to print elements on the screen
# Define a string x 
# A string in Python is a sequence of characters
# String in python are surrounded by single or double quotation marks
x = "str"

In [35]:
# Obtain the data type for 'x'
print(type(x))

<class 'str'>

In [36]:
# Print x
x

'str'

In [37]:
# Define a string and put 'Apple Inc.' in it
str_y = 'Apple Inc.'

In [39]:
# The format() method formats the specified value and insert it in the placeholder. 
# The placeholder is defined using curly braces: {}
print("This is x: '{}', and this is y: '{}'".format(x, str_y))

This is x: 'str', and this is y: 'Apple Inc.'

In [ ]:
# You can place two or more placeholders with print function

**MINI CHALLENGE #7:**
- **Write a code that print out the above statement along with AAPL ticker**
- **i.e.: I own 30 shares of Apple Inc.(AAPL)**

# 5. GET USER INPUT

In [40]:
# input is a built-in function in python
# Get bank client name as an input and print it out on the screen 
bank_client_name = input("\nPlease provide bank client name: ")
print(bank_client_name)

Please provide bank client name: Alex
Alex

In [ ]:
# Obtain bank client data such as name, age and assets and print them all out on the screen

In [ ]:
# Obtain user inputs, perform mathematical operation, and print the results 
# Note: Are you getting an error? Move to the next code cell

In [43]:
# Convert from string datatype to integer datatype prior to performing addition
initial_balance = 4000
payment = int(input("Payment amount for '{}': ".format(bank_client_name)))
final_balance = initial_balance + payment
print("" + bank_client_name + ", your final balance is :{}".format(final_balance))

Payment amount for 'Alex': 20000
Alex, your final balance is :24000

**MINI CHALLENGE #8:** 
- **Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:**

  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is 15000

In [46]:
chosen_stock_price = float(input("\n Enter chosen stock price: "))
chosen_stock_num = int(input("\n Enter the chosen stock number that you want to buy: "))
chosen_stock_name = input("\n Enter your chosen stock name: ")
chosen_stock_cost = chosen_stock_num * chosen_stock_price
result = "For your chosen investment plan: {} '{}' stocks at price {} will cost: {}".format(chosen_stock_num,chosen_stock_name,chosen_stock_price,chosen_stock_cost)
print("\n ", result)

 Enter chosen stock price: 150

 Enter the chosen stock number that you want to buy: 2

 Enter your chosen stock name: Fo

  For your chosen investment plan: 2 'Fo' stocks at price 150.0 will cost: 300.0

# EXCELLENT JOB

# MINI CHALLENGES SOLUTIONS

**MINI CHALLENGE #1:**
- **We defined a variable AMZN (Ticker symbol for Amazon stock) and we assigned these 3 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN
```

In [ ]:
# The output of this code is 3530
# Initially we put 3324 in AMZN, then we overwrite it by placing 3400 in AMZN, and then 3530 in AMZN
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN

**MINI CHALLENGE #2:**
- **We defined a variable AAPL (Ticker symbol for Apple stock) and we assigned these 2 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AAPL = 112
AAPL = 115.3
type(AAPL)
```

In [ ]:
AAPL = 112
AAPL = 115.3
type(AAPL)

**MINI CHALLENGE #3 SOLUTION:** 
- **Write a code that calculates the total value of a portfolio assuming that you own 15 Google stocks (Sticker Symbol: GOOG) priced at 1500 each**

In [ ]:
price  = 1500
x  = 15
amount = x * price
amount

**MINI CHALLENGE #4 SOLUTION:**
- **Write a code that takes in Google (GOOG) stock prices at two days and calculate the return:**
  - **GOOG price on day 1 = \$260** 
  - **GOOG price on day 2 = \$280**

In [ ]:
GOOG_price_1 = 260
GOOG_price_2 = 280

price_diff = GOOG_price_2 - GOOG_price_1
percentage_change = price_diff / GOOG_price_1 * 100

percentage_change

**MINI CHALLENGE #5 SOLUTION:**
- **Assume that you own 15 shares of AAPL stock priced at \$150 a share. Apple announced the launch of 5 new products with exceptional features so the stock price increased to $170 a share. Calculate the total profit.**

In [ ]:
AAPL_new = 170
AAPL_old = 150
num_shares = 15
profit = (AAPL_new - AAPL_old) * num_shares   
profit

**MINI CHALLENGE #6 SOLUTION:** 
- **Write a code that performs the following mathematical operation: z = |x − y| * (x + y)**

In [ ]:
x = 4
y = 2
z = abs(x-y) * (x+y)

**MINI CHALLENGE #7 SOLUTION:**
- **Write a code that print out the above statement along with AAPL ticker**
- **i.e.: I own 30 shares of Apple Inc.(AAPL)**

In [ ]:
ticker = 'AAPL'
print("I own {} shares of {}({})".format(shares, company_name, ticker))

**MINI CHALLENGE #8 SOLUTION:** 
- **Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:**

  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is 15000

In [ ]:
x = input("Enter the price of the stock you want to buy: ")
x = int(x)
y = input("Enter the number of stocks that you want to buy: ")
y = int(y)
z = input("Enter the name of the stock that you want to buy: ")
print('The total funds required to buy {} number of {} stocks at {} is {}'.format(y,z,x, x*y))